name: Publish to TestPyPI (main)

on:
  push:
    branches: ["main"]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/medmetric
    permissions:
      id-token: write  # required for Trusted Publishing
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # IMPORTANT so tags are available for versioning

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Build
        run: |
          python -m pip install --upgrade pip build twine
          python -m build
          twine check dist/*

      - name: Publish to TestPyPI (Trusted Publishing)
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
